<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cat.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @cat.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cat.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cat.price %>
</p>

<p>
  <strong>Available:</strong>
  <%= @cat.available %>
</p>

<p>
  <strong>Average point:</strong>
  <%= @cat.average_point %>
</p>

<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>
