<% if notice %>
   <p id="notice"><%= notice %></p>
<% end %>
 
<h1>Food List</h1>
 
<% @foods.each do |food| %>
    <div class="entry">
        <h3><%= food.name %></h3> 
        <%= sanitize(food.description) %>
        <div class="price_line">
            <span class="price"><%= number_to_currency(food.price) %></span>
        </div>
    </div>
<% end %>

<h1>Cat List</h1>

<% @cats.each do |cat| %>
    <div class="entry">
        <h3><%= cat.name %></h3> 
        <%= sanitize(cat.description) %>
        <div class="price_line">
            <span class="price"><%= number_to_currency(cat.price) %></span>
        </div>
    </div>
<% end %>

