<div>
  <p>ID: <%= food.id %><p>
  <p>Name: <%= food.name %><p>
  <p>Description: <%= food.description %><p>
  <p>Price: <%= food.price %><p>
  <p>Supportable: <%= food.supportable %><p>
  <hr>
</div>