<p id="notice"><%= notice %></p>

<div id="product_list">
	<h1>Foods</h1>
    <table>
    <% @foods.each do |food| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
  
            <td class="list_description">
                <dl>
                    <dt><%= food.name %></dt>
                    <dd><%= truncate(strip_tags(food.description),
                            :length => 80) %></dd>
                </dl>
            </td>
  
            <td class="list_actions">
                <%= link_to 'Show', food %><br/>
                <%= link_to 'Edit', edit_food_path(food) %><br/>
                <%= link_to 'Destroy', food, 
                    data: { confirm: 'Are you sure?' },
                    :method => :delete %>
            </td>
        </tr>
    <% end %>
    </table>
</div>
 
<br />

<%= link_to 'New Food', new_food_path %>
